<div class="container">
  <div class ="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <%= form_with model: @post, url: contributor_post_path(@post), method: :patch, local: true do |form| %>
        <%= render 'form' ,f: form %>
      <% end %>
    </div>
  </div>
</div>