<div class="container mt-4">
  <div class ="row">
    <div class="col-lg-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h4>フォローユーザー一覧</h4>
      <% if @recipients.present? %>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>名前</th>
              <th>団体名</th>
              <th></th>
            </tr>
          </thead>        
            <tbody>
              <% @recipients.each do |recipient| %>
                  <tr>
                    <td>
                      <%= recipient.name %>
                    </td>
                    <td>
                      <% if recipient.organization_url %>
                        <%= link_to recipient.organization_name, recipient.organization_url, target: :_blank, rel: "noopener noreferrer" %>
                      <% else %>
                        <%= recipient.organization_name %>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
            </tbody>
        </table>
      <% else %>
        <p>フォローされているユーザはおりません。</p>
      <% end %>
    </div>
  </div>
</div>