<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><strong>AGEYO</strong></h1>
        <p>
            このサイトは、<strong>寄付</strong>をもっと簡単に行う、行ってもらうためのサイトです。<br>
          児童養護施設での経験から、マッチしていない<strong>寄付</strong>や必要以上の<strong>寄付</strong>があることに気づきました。<br>
          <strong>寄付</strong>を必要な分、必要な人に届けられるサービスを目指しています。<br>
          また<strong>寄付</strong>だけでなく、活動も<strong>寄付</strong>として行うことができるので、ぜひこのサービスを活用してください。
        </p>
    
        <p>寄付をする方は、<%= link_to "こちら", new_contributor_registration_path%>から新規登録を行うことができます。</p>
        <p>寄付が必要な方は,<%= link_to "お問い合わせ", new_contact_path %>から申し込みお願いします。</p>
      </div>
    </div>
  </div>
</div>
