<h1>こちらはトップページです</h1>

<p>寄付をする方</p>
<%= link_to "ログインはこちら", new_recipient_session_path %>

<%= link_to "新規登録はこちら", root_path%>

<p>寄付を必要とする方</p>
<%= link_to "ログインはこちら", new_contributor_session_path %>

<%= link_to "新規登録はこちら", new_contributor_registration_path %>