<div class="main">
  <div class="main__visual">
    <h1 class="main__visual__title">寄付をする、してもらうためのサイト<br>
    AGEYO
    </h1>
    <div class="main__visual__content">
      <% unless contributor_signed_in? || recipient_signed_in? %>
        <div class="main__visual__content__list">
        <p class="main__visual__content__list_text">寄付を必要とする方</p>

        <%= link_to "ログインはこちら", new_recipient_session_path, class:"main__visual__content__list__link" %>

        <%= link_to "新規登録はこちら", root_path, class:"main__visual__content__list__link" %>
        </div>
        <div class="main__visual__content__list">
        <p class="main__visual__content__list_text">寄付をする方</p>
        <%= link_to "ログインはこちら", new_contributor_session_path, class:"main__visual__content__list__link" %>

        <%= link_to "新規登録はこちら", new_contributor_registration_path, class:"main__visual__content__list__link" %>
        </div>
      <% else %>

      <% end %>
    </div>
  </div>
</div>