// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 300px;
    background-image: image-url('main.jpg');
    opacity: 0.8;
    background-size: cover;
}
.jumbotron-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.site-name {
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
}
.btn-black {
    border-radius: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Avenir', serif;
}
.btn-black:hover {
     background-color: #fff;
     color: #000;
}

.about{
  background-image: image-url('about.jpg');
  background-size: cover;
  padding: 250px;
}