<footer class="text-white pt-5 pb-4 footer-color">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4">
        <p>寄付で気持ちをあげよう！</p>
        <%= image_tag('logo.png') %>
      </div>
      <div class="col-md-8">
        <h6 class="text-white mt-2 mb-3"><%= link_to "お問い合わせ", new_contact_path,class: "text-white-50" %></h6>
        <ul class="p-0 list-unstyled">
          <li>
            <%= link_to 'about', about_path,class: "text-white-50" %>
          </li>
          <li>
            <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>